force-app/main/default/flows/Inbound_Transaction_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Connect the Data from Raw Chain information to Real Data. Error Messages Logged on Token Lookup Failure.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculated Value</description>
        <name>ConvertedCurrencyValue</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Value__c} * {!Get_Token_Asset_Data.ConversionRate__c}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Inbound Transaction Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Transaction Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup the Matching Token Data</description>
        <name>Get_Token_Asset_Data</name>
        <label>Get Token Asset Data</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Blockchain_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_to_Find_Token</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset_Token__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Lookup of the token failed. It doesn&apos;t exist or isn&apos;t active.</description>
        <name>Failure_to_Find_Token</name>
        <label>Failure to Find Token</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>System_Notes__c</field>
            <value>
                <stringValue>Failure to Find Token. Lookup of the token failed. It doesn&apos;t exist or isn&apos;t active.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Overtime, this should have error correction as we find problems.</description>
        <name>Save_Blockchain_Values</name>
        <label>Save Blockchain Values</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Asset_Token__c</field>
            <value>
                <elementReference>Get_Token_Asset_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>$Record.Network_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Value__c</field>
            <value>
                <elementReference>ConvertedCurrencyValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Token_Asset_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Network_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Test_Transaction__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Network_Name__c</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>MAINNET</stringValue>
            </value>
        </filters>
        <object>Inbound_Blockchain_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
